body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.carousel {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 80%;
    border: solid 1px black;
}

.main {
    display: grid;
    grid-template-rows: 9fr 1fr;
}

.slides {
    display: flex;
    justify-content: space-evenly;
}

.slide img {
    max-height: 300px;
}

.hidden {
    display: none;
}


#left-control,
#right-control {
    justify-self: center;
    align-self: center;
}

.progress-circles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.circle {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.circle + .selected {
    background-color: purple;
}
