body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.carousel {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 80%;
    border: solid 1px black;
}

.slides {
    display: flex;
    justify-content: space-evenly;
}

.slide img {
    max-height: 300px;
}

.left-control,
.right-control {
    display: flex;
    justify-self: center;
}

.hidden {
    display: none;
}
