:root {
    --menu-stub-width: 50px;
    --menu-stub-height: 30px;
    --menu-stub-background-color: teal;
    --menu-stub-triline-color: whitesmoke;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mobile-container {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 600px;
    border: solid 1px black;
    border-radius: 12px;
}

nav {
    display: flex;
    align-items: center;
    margin-top: 40px;
    height: 3rem;
    background-color: lightgray;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
}

nav a {
    padding: 16px;
    text-align: center;
    text-decoration: none;
    color: slategray;
}

nav a:hover {
    color: black;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}

.menu-content {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--menu-stub-background-color);
    color: white;
}

.menu-content a a:visited, a:link {
    text-decoration: none;
    color: white;
}

.hidden {
    display: none;
}

.expand {
    display: flex;
    position: absolute;
    animation: dropDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

.contract {
    display: flex;
    position: absolute;
    animation: dropUp 300ms ease-in-out backwards;
    transform-origin: top center;
    animation-fill-mode: forwards;
}

@keyframes dropDown {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes dropUp {
    0% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0);
    }
}